{# displaing boxes with page number #}
{% load uni_paginator %}

{% if query.paginator.num_pages > 1 %}
    <div class="text-center">
            {% make_range query.number query.paginator.num_pages 'pages_number_list' %}
            <ul class="pagination red">
            {% if query.has_previous %}
                <li><a href="?{{ param_name }}=1{% preserve_get get_param param_name %}" title="To First Page">« First</a></li>
                <li><a href="?{{ param_name }}={{ query.previous_page_number }}{% preserve_get get_param param_name %}" title="To the previous page"><strong>«</strong></a></li>
            {% endif %}
            {% for i in pages_number_list %}
                {% if i == query.number %}
                    <li class="active"><a href="#">{{ query.number }}</a></li>
                {% else %}
                    <li><a href="?{{ param_name }}={{ i }}{% preserve_get get_param param_name %}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if query.has_next %}
                <li><a href="?{{ param_name }}={{ query.next_page_number }}{% preserve_get get_param param_name %}" title="To Next Page"><strong>»</strong></a></li>
                <li><a href="?{{ param_name }}={{ query.paginator.num_pages }}{% preserve_get get_param param_name %}" title="To The Last Page">Last »</a></li>
            {% endif %}
            </ul>
    </div>
{% endif %}
