{# выводим ссылки на листание страниц #}
{% load uni_paginator %}

{% if query.paginator.num_pages > 1 %}
    <div class="text-center">
            {% make_range query.number query.paginator.num_pages 'pages_number_list' %}
            <ul class="pagination red">
            {% if query.has_previous %}
                <li><a href="?page=1{% preserve_get get_param 'page' %}" title="На первую страницу">« Первая</a></li>
                <li><a href="?page={{ query.previous_page_number }}{% preserve_get get_param 'page' %}" title="На страницу назад"><strong>«</strong></a></li>
            {% endif %}
            {% for i in pages_number_list %}
                {% ifequal i query.number %}
                    <li class="active"><a href="#">{{ query.number }}</a></li>
                {% else %}
                    <li><a href="?page={{ i }}{% preserve_get get_param 'page' %}">{{ i }}</a></li>
                {% endifequal %}
            {% endfor %}

            {% if query.has_next %}
                <li><a href="?page={{ query.next_page_number }}{% preserve_get get_param 'page' %}" title="На страницу вперед"><strong>»</strong></a></li>
                <li><a href="?page={{ query.paginator.num_pages }}{% preserve_get get_param 'page' %}" title="На последнюю страницу">Последняя »</a></li>
            {% endif %}
            </ul>
    </div>
{% endif %}
